body{
    margin:0;
    padding:0;
}
/*
.content-2{
    
    position: absolute;
    top:0.3%;
    left:44%;
        background-color: #000000;
        width: 56%;
        height: auto;
      
      }
       h2{
              color:#fff;
              font-size:30px;
              font-weight: 800;
              text-align: center;
              color:#fff;
          }

p{
    text-align: left;
    font-size: 20px;
    color:#fff;
    line-height:30px;
    padding:20px;
}

.content-1{
  
}
.content-1 img{
    width:100%;
height:515px;
}

.container{
    width: 100%;
    height:auto;
}
.pick{
    height: 2000px;
}
@media only screen and (max-width: 700px) {
    .content-2{
       position: absolute;
       left: 0%;
       width: 100%;
    }
    .content-1 img{
        width:0%;
    }
    
}
*/
.content-2{
    border-top-right-radius: 40px;
    width: 100%;
   display: flex;
    flex-wrap: wrap;
    width:100%;
    height: auto;
    margin-top: 30px;
    margin-bottom: 60px;
  }

  .right{
    background-color: #000654;
    width:50%;
  height:auto;
    padding:10px;
    padding-bottom: 40px;
    border-bottom-right-radius: 40px;
    border-top-right-radius: 40px;

  }
  .right h2{
          color:#e0f20f;
          font-size:50px;
          font-weight: bold;
          text-align: left;
          margin-left: 20px;

      }

.right p{
text-align: left;
font-size: 15px;
color:#fff;
line-height:30px;
padding:20px;
}

.right li{
color:white;
padding: 20px;
padding-top: 10px;
line-height: 0px;
margin-left: 20px;
}

.left-1{
width: 50%;
height: auto;
background-repeat: no-repeat;
}
.left-1 img{
    background-attachment: fixed;
    height: 600px;
}
/*
.header{
    /*background-color: black;
}
button .navbar-toggle{
    /*background-color:white; 
}